@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MainFont';
  src: url('../fonts/Valorant\ Font.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('../fonts/Tungsten-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ThirdFont';
  src: url('../fonts/Aileron-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ThirdFont';
  src: url('../fonts/Aileron-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
    overflow: hidden;
        background-image: url('../img/background.jpg');
        background-size: cover;
        background-position: center;
  }