/* DEBUT BASE*/

.standard-button, 
.money-button, 
.try-button {
    background-color: transparent;
    border: none;
    position: relative;
    box-sizing: border-box;
    padding: 7px;
    cursor: pointer;
}

.standard-button > div,
.try-button > div,
.money-button > div {
  background-color: white;
  color: #2B2B2B;
  height: 100%;
  text-transform: uppercase;
  vertical-align: center;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: color 0.3s ease;
}

.standard-button > div > div,
.try-button > div > div,
.money-button > div > div {
  z-index: 1;
}
  
.standard-button::before,
.standard-button::after,
.try-button::before,
.try-button::after,
.money-button::before,
.money-button::after  {
  content: "";
  position: absolute;
  border: 1px solid white;
  height: 25px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}
  
.standard-button::before,
.try-button::before,
.money-button::before {
  top: 0;
  border-bottom: none;
}

.standard-button::after,
.try-button::after,
.money-button::after {
  bottom: 0;
  border-top: none;
}

.standard-button > div::before,
.try-button > div::before,
.money-button > div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: red;
  transform: skew(-10deg);
  background-color: #2B2B2B;
  width: 120%;
  left: -130%;
  transition: left 0.3s ease;
}

.standard-button > div::after,
.try-button > div::after,
.money-button > div::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: #2B2B2B;
  transition: background-color 0.3s ease;
}

.standard-button:hover > div,
.try-button:hover > div,
.money-button:hover > div {
  color: white;
}

.standard-button:hover > div::before,
.try-button:hover > div::before,
.money-button:hover > div::before {
  left: -10%;
}

.standard-button:hover > div::after,
.try-button:hover > div::after,
.money-button:hover > div::after {
  background-color: white;
}
/* FIN BASE*/

/* DEBUT STANDARD*/
.standard-button {
  height: 68px;
}

.standard-button > div {
  padding: 0 4em;
}
/* FIN STANDARD*/

/* DEBUT MONEY*/

.money-button {
  height: 5em;
  width: 8em;
}

.money-button > div {
  justify-content: center;
}
/* FIN MONEY*/

/* DEBUT TRY*/

.try-button {
  height: 7em;
  width: 8em;
}

.try-button > div {
  justify-content: center;
}

.try-button > div > div {
  padding: 2em 0;
}

/* FIN TRY*/

/* DEBUT TRY AGAIN */
.try-again-button {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: opacity 0.3s ease, pointer-events 0.3s ease;
}
/* Fin TRY AGAIN */